doctype html
extends ./layout
include ./mixin

block latex_settings
  div.

block slides
  .slides
    | \( 
    |   \newcommand{\ord}[1]{\mathcal{O}\left(#1\right)}
    |   \newcommand{\abs}[1]{\lvert #1 \rvert}
    |   \newcommand{\floor}[1]{\lfloor #1 \rfloor}
    |   \newcommand{\ceil}[1]{\lceil #1 \rceil}
    |   \newcommand{\opord}{\operatorname{\mathcal{O}}}
    |   \newcommand{\fail}{\operatorname{\mathcal{F}}}
    |   \newcommand{\flk}{\operatorname{\mathfrak{F}}}
    |   \newcommand{\suf}{\operatorname{\sigma}}
    |   \newcommand{\rank}{\operatorname{\mathcal{R}}}
    |   \newcommand{\sa}{\operatorname{\mathcal{SA}}}
    |   \newcommand{\hei}{\operatorname{\mathcal{H}}}
    |   \newcommand{\edps}{\operatorname{\mathcal{E}}}
    |   \newcommand{\mx}{\operatorname{\mathcal{M}}}
    |   \newcommand{\argmax}{\operatorname{arg\,max}}
    |   \newcommand{\cons}[1]{\left[ \: #1 \: \right]}
    |   \newcommand{\str}[1]{\texttt{"#1"}}
    | \)
    section
      h1 好號熊
      p
        .small Created by STEP5

    include intro

    +slide(data-markdown=true)
      h1 Q & A
